        <footer>
            
            <div class="refs">
                References: <br />
                <sup>1 </sup><a href="https://www.forbes.com/sites/jonathanocallaghan/2020/10/27/spacex-reveals-monthly-cost-of-starlink-internet-in-its-better-than-nothing-betabut-is-it-too-expensive/#6fd1395b4a83" 
                >SpaceX Reveals Monthly Cost Of Starlink Internet 
                In Its 'Better Than Nothing Beta'</a><br />
                
                <sup>2 </sup><a href="https://www.techexplorist.com/spacexs-starlink-satellites-could-pain-astronomers/23562/" 
                >SpaceX's Starlink satellites could be a pain for astronomers</a><br />
                
                <sup>3 </sup><a href="https://www.starlink.com/" 
                >Starlink Website</a><br />
                
                <sup>4 </sup><a href="https://spaceflightnow.com/2019/05/15/spacex-releases-new-details-on-starlink-satellite-design/" 
                >SpaceX releases new details on Starlink satellite design</a><br />
                
                <sup>5 </sup><a href="https://www.geekwire.com/2020/5-trillion-bytes-day-spacex-engineers-flash-facts-starlink-satellites/" 
                >5 trillion bytes a day: SpaceX engineers flash some facts about 
                Starlink satellites</a><br />
                
                <sup>6 </sup><a href="https://www.slashgear.com/starlink-satellite-internet-beta-imminent-as-elon-musk-confirms-dish-details-15629132/" 
                >Starlink satellite internet beta imminent as Elon Musk confirms 
                dish details</a><br />
            </div>
            <hr>
            <div id="faker">Webmaster: <%= fakerField %>.</div>
            <br /><br />
        </footer>
    </body>

</html>