<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8 />
        <title> Starlink: Informational Website </title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;300&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <br><br />
            <a href="/">
                <img src="img/starlink.png" alt="Starlink logo">
            </a>
        </header>
        

        <nav>
            <a href="/design">Design</a>
            <a href="/impact">Impact</a>
            <a href="/experience">Experience</a>
        </nav>
        
    