<%- include('partials/header.ejs') %>
        
        <br />
        
        <div class="banner">
            <img src="img/stack.png" alt="Stack">
        </div>
        
        <article>
            <h2>Creation and Deployment</h2>
            <p>The satellite design of each node relay station in the Starlink 
            constellation is revolutionary, representing a system the like of which
            has never been implemented.  Each includes 4 phased array antennas that
            can be redirected with "an enormous amount of throughput."  Each 
            satellite can be placed precisely for maximum throughput through Integrated
            navigation sensors that allow for tracking of altitude and location.  
            They are built to automatically avoid collision with space debris using 
            a tracking system from the DoD and specialized onboard sensors.  This 
            makes avoiding collisions more reliable by reducing human error.  And 
            the alerting system of issues onboard is shared between the Dragon 
            system and Starlink.<sup>3,5</sup></p>

            <p>Each satellite also includes a single, integrated, standard solar 
            cell panel for simplicity and ease of manufacturing.  Ion propulsion 
            systems are krypton-powered and efficient, allowing satellites to be 
            maneuvered in space.  In fact, Starlink is the first spacecraft ever 
            to use this system.  The ion propulsion system relies on Hall plasma
            thrusters, combining krypton with electricity for a more cost-effective 
            solution than the conventional xenon gas used in existing
            satellites.<sup>3,4</sup></p>

            <p>The satellites weigh 260kg and have a compact, low-volume design. 
            When it came time for the first full deployment in 2019, the compact
            design allowed the spacecraft to be compacted into a very tight stack 
            inside the Falcon 9 payload shroud.  In fact, the initial 15 ton load
            was the heaviest that SpaceX has ever launched into orbit.  The company
            stated that launching these satellites "like a deck of cards" was scary
            and very difficult to configure, but the risk paid off in the 
            end.<sup>3,4,5</sup></p>

            <p>The Ku-band, Ka-band and V-band satellites will be placed in multiple
            orbital planes.  The first batch was launched by Falcon 9 273 miles above
            the earth surface and then thrusted themselves up to 341 miles 
            high.<sup>4</sup></p>

            <p>480 satellites were already in orbit as of June 2020 including 6,000 
            microcontrollers and 30,000 Linux nodes deployed in space, though some 
            are no longer in service. Linux is the operating system in use in every
            satellite, and each utilizes 4000 Linux computers.  With upwards of 5 
            trillion bytes of data a day being pushed through the system even in 
            testing mode, software updates come about once every week.  However, 
            SpaceX has been able to make use of a significant amount of the in-orbit 
            test time from the Linux system in Falcon and Dragon rockets towards 
            their system and its rapid iterative cycle.<sup>5</sup></p><br />
        </article>
        
<%- include('partials/footer.ejs') %>