<%- include('partials/header.ejs') %>
        
        <br />
        
        <div class="banner">
            <img src="img/satellite.jpg" alt="Satellite">
        </div>
        
        <article>
            <h2>End User Experience</h2>
            <p>According to SpaceX, "Starlink is designed to deliver high 
            speed broadband internet to locations where access has been unreliable, 
            expensive, or completely unavailable."  For some, the initial prices 
            will likely be too much and not very competitive with existing options.
            However, with improved infrastructure and more customers, costs are 
            likely to become more affordable internationally.  Plans for pricing
            changes haven't been released, however Starlink may be competing with 
            Amazon and with OneWeb in the U.K., which could drive prices 
            down.<sup>1,3</sup></p>

            <p>A secretive beta program of Starlink has kicked off for an initial 
            batch of users in the Northern US and Lower Canada, where the 
            constellation is currently situated.  Accessing the beta requires users
            to have a clear view of a certain potion of the sky, to sign a 
            non-disclosure preventing discussion about their experience or taking 
            photos of the setup, and to agree to regular feedback and testing.  
            The beta involves no cost and is not immediately intended to replace 
            existing internet service due to possible interruptions.  However, 
            the company indicated that the connection should be high-quality when 
            connected.<sup>6</sup></p>

            <p>However, the initial full pilot will involve a $99 a month fee for 
            users to access Starlink.  This rollout is known currently as the 
            "Better than Nothing Beta", as SpaceX is initially aiming for low 
            expectations.  The $500 initial setup package for installation includes
            a dish setup that can self-orient with a built in motor that connects 
            to a power supply and router from Starlink.  The user terminal included
            in this package is, according to Starlink, "more advanced than what's 
            in fighter jets".  Only a single cable connected the dish and the router
            as the system uses a power-over-Ethernet connection.  Starlink app 
            includes an augmented reality feature that helps users determine where 
            to install the satellite dish.<sup>1,6</sup></p>

            <p>Expected speeds for users will range from 50-150 Mbps and 
            connections will have latency from 20-40ms.  There may be some lapses 
            in connectivity at first, however SpaceX is working at upgrading and
            revamping their software, ground stations, and satellites to bring 
            latency to 16-19ms and improve data speeds.  The service should be 
            much faster than existing satellite internet when all is said and
            done by overcoming existing infrastructure issues.<sup>1,3</sup></p><br />
        </article>
        
<%- include('partials/footer.ejs') %>