<%- include('partials/header.ejs') %>
        
        <br />
        
        <div class="banner">
            <img src="img/solar.jpeg" alt="Solar">
        </div>
        
        <article>
            <h2>Impact and Environment</h2>
            <p>As of October 2020, nearly 900 satellites have been deployed into 
            space with plans for up to 42,000 in the future.  Even further, SpaceX 
            has plans for up to 12,000 satellites in the near future.  The company 
            is planning for near global coverage and likely will have deployed over
            1000 satellites by 2021.  This is dramatically more than the 2,000 total
            active satellites in space prior to Starlink's initial 
            launch.<sup>1</sup></p>

            <p>Concerns about managing the traffic of so many new satellites being 
            put into orbit by SpaceX and other competing companies at lower and 
            lower altitudes have compelled the company to address such concerns. 
            The unique propulsion system in each satellite is intended to allow for 
            on-demand retrieval.  However, the design of these satellites should
            allow for 95-100% of their materials to be consumable in the earth's
            atmosphere as time goes on and satellite materials are upgraded.  
            Additionally, the low orbit they fly at allows these spacecraft to burn 
            up in the earth's atmosphere within a few years, as opposed to 
            "thousands of years" with existing satellites.  The company also 
            highlighted that atmospheric drag will bring the stations back to 
            earth within 5 years if all else fails.<sup>3,4</sup></p>

            <p>Additional concerns about the visibility of these satellites in the 
            night sky have been raised, along with concerns about cluttering the 
            earth's orbit with space junk and satellites colliding.  It's possible 
            to see the train of satellites visible in the night sky currently, though 
            these relay stations will be separated out more over time.  Some 
            astronomers worry about potential obstruction to visual observation and 
            astronomy.  With 12,000 or more satellites in the sky, according to Alex
            Parker it's possible that we will eventually see more satellites in the 
            night sky than stars.  Though Elon Musk, CEO of SpaceX, does not believe
            that Starlink will affect observations, he has tasked SpaceX to find ways
            to reduce reflectivity.<sup>1,2</sup></p>

            <p>Musk believes that Starlink will be "potentially helping billions of
            economically disadvantaged people," and that the endeavor is for the 
            "greater good."  However, the total cost of the Starlink fleet is looking
            to be about $10 billion when all is said and done, and the initial setup
            costs of becoming a Starlink customer indicate that the company intends 
            to make a profit.  Starlink's pricing is at least attainable for the U.S.
            military, and SpaceX has been targeting a deal to research the usability
            of Starlink for military purposes.  A deal was made between SpaceX and 
            the military for another 3 years of research and experimenting into
            military use of the network.<sup>1,2,4,5</sup></p><br />
        </article>
        
<%- include('partials/footer.ejs') %>