<%- include('partials/header.ejs') %>

        <br />
        
        <div class="banner">
            <img src="img/space.jpg" alt="Space">
        </div>
        
        <article>
            <h2>The Future of Satellite Internet</h2>
            Launching thousands of low-orbit ion propulsion satellites into earth's atmosphere,
            SpaceX is embarking on a mission to provide low-cost, broadband internet to the entire world.
            This will provide access to remote areas and allow for lower latency than previously possible.
            These satellites were designed to interlink, be lighter and more compact, and to be removable
            from orbit after they expire.  The end user will be able to purchase an initial setup package
            and then pay a monthly subscription to access this global internet service.<br /><br />
        </article>
        
<%- include('partials/footer.ejs') %>